body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #020917;
}

.store {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.container {
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
}
